 
      body {
        padding: 0;
      }
      /*
		��������
	  */
      .b-sticker {
        width: 45%;
        padding: 3mm;
        float: left;
        font-family: Arial;
        border: 1px dashed black;
        page-break-inside: avoid;
      }
      .b-sticker table {
        width: 99%;
        border-collapse: collapse;
      }
      .b-sticker tr td {
        padding: 2mm;
      }
      .b-sticker tr:first-child td {
        border-bottom: 1mm solid #000;
      }
      .b-sticker tr td p {
        margin: 0;
        padding-bottom: 1mm;
      }

      /* �������� ��� PHP*/
      .barcode {
        width: 100%;
      }

      /* ������� ������� */
      .b-sticker .seller {
        font-size: 4mm;
      }
      .b-sticker .number {
        font-size: 6mm;
      }
      .b-sticker .customer-info {
        font-size: 3.8mm;
      }
      .b-sticker .customer-info .date,
      .b-sticker .customer-info .price,
      .b-sticker .customer-info .name,
      .b-sticker .customer-info .phone {
      }
      .b-sticker .punkt-info {
        font-size: 3.5mm;
      }

        input{

          width: 100% !important;
      }
    .class_hide{
        display: none;
    }
    .class_show{
        display: block;
    }